.App {
    text-align: center;
    background-image: linear-gradient(to right top, #144286, #0973b6, #099fb1, #0ac57a, #a3e01c);
    width: 100% !important;
    height: 100%;
    float: left;
    position: absolute;
    display: table;
}

.genderSelect {
    margin: 20px;
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    outline-width: 0;
    border-width: 2px;
}

.pointCalDiv input, .pointCalDiv button {
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    outline-width: 0;
}

.pointCalDiv input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pointCalDiv button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dayBtn {
    border-radius: 5px !important;
    vertical-align: middle;
}

.contestDiv {
    display: inline-table;
    padding-top: 5px;
    width: 100%;
}

.pointCalDiv, .scoreDiv {
    display: inline-table;
    margin: 30px;
    vertical-align: top;
    text-align: left;
    width: auto;
}

.pointCalDiv {
    text-align: center;
}

.unitInput {
    width: 100px;
}

.personDiv {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 164px;
    height: 288px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.personDiv ul {
    padding-left: 0;
}

.scoreDiv b {
    font-size: 20px;
    text-decoration: underline;
}

h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

ul {
    list-style-type: none;
}

table {
    text-align: center;
    border-collapse: separate;
    border-radius: 6px;
    -moz-border-radius: 6px;
    margin-top: 10px;
    border: solid rgba(255, 255, 255, 0.5) 1px;
}

td, th {
    width: 100px;
    padding: 8px;
    text-align: left;
}

th {
    border-top: none;
}

tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.5)
}

tr:nth-child(odd) {
    background: rgba(160, 160, 160, 0.5)
}

td:first-child, th:first-child {
    border-left: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-in {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
